server:
  port: 7001

#Eureka配置
eureka:
  instance:
    hostname: eureka7001.com
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      #单击配置
#      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
      #集群配置
      defaultZone: http://eureka7002.com:7002/eureka/,http://eureka7003.com:7003/eureka/
